* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Georgia", serif;
  color: #F3F3E6;  
  background-color: #2E2E2E;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  line-height: 1.5;
}

/* ========== Scrollbar Styling ========== */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
  width: 0;
  height: 0;
}

/* ========== Navbar Section ========== */
.navbar {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar .logo {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #F3F3E6;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.navbar a:hover {
  opacity: 0.8;
}
